{% extends 'base.html.twig' %}

{% block title %}Redaguoti Profilį{% endblock %}

{% block includes %}
<link href="/templates/profile/edit.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container bootstrap snippet">
    <div class="row">
  
      <div class="main">
  
        <h3>Profilio redagavimas</h3>
  
        <form role="form">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" placeholder="E-mail">
          </div>
          <div class="form-group">
            <label for="name">Vardas</label>
            <input type="text" class="form-control" id="name" placeholder="Vardas">
          </div>
          <div class="form-group">
            <label for="surname">Pavarde</label>
            <input type="text" class="form-control" id="surname" placeholder="Pavarde">
          </div>
          <div class="form-group">
            <label for="password">Senas Slaptažodis</label>
            <input type="password" class="form-control" id="password" placeholder="Senas Slaptažodis">
          </div>
          <div class="form-group">
            <label for="password">Naujas Slaptažodis</label>
            <input type="password" class="form-control" id="password" placeholder="Naujas Slaptažodis">
          </div>
          <div class="form-group">
            <label for="passwordAgain">Pakartoti naują slaptažodį</label>
            <input type="password" class="form-control" id="passwordAgain" placeholder="Pakartoti">
          </div>
          <button type="submit" class="btn btn btn-primary">
            Keisti
          </button>
        </form>
      
      </div>
      
    </div>
  </div>

{% endblock %}
