{% extends 'base.html.twig' %}

{% block title %}Pasirašyti sutartį{% endblock %}

{% block body %}

<div class="container">
        <h1>Sutarties pasirašymas</h1>
        <h6>Visa kita informacija bus pridėta automatiškai</h6><br>
      <form role="form" action="{{ path('sign_contracts_proc') }}" method="POST">
          <div class="form-group">
            <input name="form[papildomossalygos]" type="text" class="form-control" id="papildomossalygos" placeholder="Papildomos sąlygos"">
          </div>
      <button type="submit" class="btn btn btn-primary">Pasirašyti sutartį</button>
    </form>
    <a href="{{ path('home') }}" class="btn btn-secondary">Atšaukti</a>
</div>

{% endblock %}
