{% extends 'base.html.twig' %}

{% block title %}Naujas Skelbimas{% endblock %}

{% block body %}
<center>
<div class="row">
    <div class="col centered">
<form class="form-horizontal">
    <fieldset>
        <h2>Naujas Skelbimas</h2>
    <div class="container">
      <form role="form" action="{{ path('new_add') }}" method="POST">
          <div class="form-group">
            <label for="pavadinimas">Pavadinimas</label>
            <input name="form[pavadinimas]" type="text" class="form-control" id="pavadinimas">
          </div>
           <div class="form-group">
            <label for="kaina">Kaina</label>
            <input name="form[kaina]" type="text" class="form-control" id="kaina">
          </div>
           <div class="form-group">
            <label for="aprasymas">Aprašymas</label>
            <input name="form[aprasymas]" type="text" class="form-control" id="aprasymas">
          </div>
      <button type="submit" class="btn btn btn-primary">Sukurti</button>
    </form>
    <a href="{{ path('home') }}" class="btn btn-secondary">Atšaukti</a>
</div>
    </fieldset>
    </form>
</div>
</div>
</center>
{% endblock %}
